{% extends "main/main.html" %}
{% load static %}

{% block title %}Sign-up{% endblock %}

{% block header %}
    {% include 'main/header.html' with search=True %}
{% endblock %}
{% block content %}
    <div class="content__container container">
        <div class="content__auth-form auth-form signup">
            <form action="{% url "signup" %}" method="post" class="auth-form__container container">
                {% csrf_token %}
                <div class="auth-form__column column auth-form__column_title">
                    <h2 class="auth-form__row row auth-form__row_title">Регистрироваться</h2>
                </div>
                <div class="auth-form__column column auth-form__column_inputs">
                    <div class="auth-form__row row">
                        {{ user_form.username }}
                    </div>
                    <div class="auth-form__row row">
                        {{ user_form.first_name }}
                    </div>
                    <div class="auth-form__row row">
                        {{ user_form.last_name }}
                    </div>
                    <div class="auth-form__row row">
                        {{ user_form.email }}
                    </div>
                    <div class="auth-form__row row">
                        {{ user_form.password }}
                    </div>
                    <div class="auth-form__row row">
                        {{ user_form.password2 }}
                    </div>
                </div>
                <div class="auth-form__column column auth-form__column_button column_button">
                    <div class="auth-form__row row">
                        <button type="submit">
                            Зарегистрироваться
                        </button>
                    </div>
                </div>
                <div class="auth-form__column column auth-form__column_checkbox">
                    <div class="auth-form__row row auth-form__row_checkbox">
                        {{ user_form.agree_privacy_policy }}
                        <p>Я согласен с <a href="#">условиями использования и политикой конфиденциальности</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}