* {
    transition: all 0.4s ease-in-out;
    box-sizing: border-box;
}

.input {
    height: 28px;
    border-radius: 10px;
    padding: 0 10px;
}

.input_1 {
    background-color: #E3E1C8;
    color: #191C2D;
}


/* Extra small devices (phones, 600px and down) *
@media only screen and (max-width: 599px) {
    /* Стили для телефонов *
    
}*/

/* Small devices (portrait tablets and large phones, 600px to 767px) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* Стили для планшетов в портретном режиме и больших телефонов */

}

/* Medium devices (landscape tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Стили для планшетов в ландшафтном режиме */
    
}

/* Large devices (laptops/desktops, 992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {  
    /* Стили для ноутбуков/десктопов */
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Стили для больших устройств */
    
}