* {
    transition: all 0.4s ease-in-out;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    position: relative;
}
.menu__content {
    transition: all 0.4s ease-in-out;
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    padding: 50px 0;
    background-color: #435664;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.menu__content.open {
    visibility: visible;
    opacity: 1;
    height: 100%;
}

/* Extra small devices (phones, 600px and down) *
@media only screen and (max-width: 599px) {
    /* Стили для телефонов *
    
}*/

/* Small devices (portrait tablets and large phones, 600px to 767px) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* Стили для планшетов в портретном режиме и больших телефонов */

}

/* Medium devices (landscape tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Стили для планшетов в ландшафтном режиме */
    
}

/* Large devices (laptops/desktops, 992px to 1199px) */
@media only screen and (min-width: 992px)/* and (max-width: 1199px)*/ {  
    /* Стили для ноутбуков/десктопов */
    .menu__content {
        transition: all 0.4s ease-in-out;
        visibility: hidden;
        opacity: 0;
        width: 0px;
        height: 100%;
        right: 0;
        top: 0;
        bottom: 0;
        left: auto;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 50px;
        text-align: left;
    }

    .menu__content.open {
        width: 300px;
        visibility: visible;
        opacity: 1;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) *
@media only screen and (min-width: 1200px) {
    /* Стили для больших устройств *
    
}*/