{% extends 'main/main.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Reparts{% endblock %}
{% block head %}

{% endblock %}


{% block header %}
    {% include 'main/header.html' with banner=True search=True categories=True %}
{% endblock %}
{% block content %}
    <div class="content__container container">
        {% for c in category|slice_list:4 %}
            <div class="content__list-categories list-categories">
                <div class="header__row row header__row_category-title category-title">
                    <h2>{{ c.title }}</h2>
                </div>
                {% include "main/left-right-buttons.html" with parent='content' %}
                <div class="content__column column content__column_category-products category-products list-category">
                    {% for p in c.products|slice_list:10 %}
                        <a href="{{ p.url }}" class="content__row row content__row_product product">
                            <img src="{% static p.url_image %}" alt="">
                            <div class="product__information">
                                <h3 class="product__title">{{ p.title }}</h3>
                                <p class="prouct__price">{{ p.price }} {{ p.country_valute }}</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}