{% load static %}

<div class="hotbar hotbar_3">
    <nav class="hotbar__content">
        <div class="row row_1">
            {% include 'main/button2.html' with is_url=True href="home" src="main/img/logo1.png" type="button_logo-2" %}
        </div>
        <div class="row row_2">
            {% include 'main/button1.html' with is_url=False href="#" type="button_5" text="button" %}
        </div>
        <div class="row row_3">
            {% include 'main/button1.html' with is_url=False href="#" type="button_5" text="button" %}
        </div>
        <div class="row row_4">
            {% include 'main/button1.html' with is_url=False href="#" type="button_5" text="button" %}
        </div>
        <div class="row row_5">
            {% include 'main/button-menu.html' with is_url=False href="#" src="main/img/icon-menu.svg" %}
        </div>

    </nav>
</div>