<div class="hotbar hotbar_2">
    <nav class="hotbar__content">
        {% include 'main/button1.html' with href="/" type="button_logo" text="REPARTS.MD" %}

        {% include 'main/button1.html' with href="#" type="button_2" text="button" %}
        {% include 'main/button1.html' with href="#" type="button_2" text="button" %}
        {% include 'main/button1.html' with href="#" type="button_2" text="button" %}
        {% include 'main/button1.html' with href="#" type="button_2" text="button" %}
        {% include 'main/button1.html' with href="#" type="button_2" text="button" %}
        {% include 'main/button1.html' with href="#" type="button_2" text="button" %}
        {% include 'main/button1.html' with href="#" type="button_2" text="button" %}
        {% include 'main/button1.html' with href="#" type="button_2" text="button" %}

        {% include 'main/input1.html' with type="input_1" name="input-text" placeholder="Input text" %}

        {% include 'main/button1.html' with href="#" type="button_4" text="button" %}
    </nav>
    <div class="hotbar_2__line"></div>
</div>