<div class="hotbar hotbar_1">
    <nav class="hotbar__content">
        <!--
        {% include 'main/button1.html' with is_url=False href="#" type="button_1" text="button" %}
        {% include 'main/button1.html' with is_url=False href="#" type="button_1" text="button" %}
        {% include 'main/button1.html' with is_url=False href="#" type="button_1" text="button" %}
        {% include 'main/button1.html' with is_url=False href="#" type="button_1" text="button" %}
        {% include 'main/button1.html' with is_url=False href="#" type="button_1" text="button" %}
        {% include 'main/button1.html' with is_url=False href="#" type="button_1" text="button" %}
        {% include 'main/button1.html' with is_url=False href="#" type="button_1" text="button" %}
        
        {% include 'main/button1.html' with is_url=False href="#" type="button_3" text="button" %}
        {% include 'main/button1.html' with is_url=False href="#" type="button_3" text="button" %}
        -->
    </nav>
</div>