{% extends 'main/initial.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/ad.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/input.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/hotbar.css' %}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <header class="header">
            {% include 'hotbars/hotbar3.html' %}
            <form action="{% url 'home' %}" method="get" class="search-form">
                {% include 'inputs/input2.html' with placeholder="- Detalii auto & instrumente -" name="search" %}
            </form>
        </header>
        <div class="container">
            {% block container %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="footer__content">
                <div class="footer__row">
                    <p class="copy"><a href="{% url 'home' %}">IT4World</a> <span>&copy; 2024</span></p>
                </div>
            </div>
        </footer>
        {% include 'hotbars/hotbar4.html' %}
    </div>
{% endblock %}