{% load static %}

<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="hotbar">

    </header>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    <footer class="footer">

    </footer>
</body>
</html>