{% extends 'main/initial.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">

    <link rel="stylesheet" href="{% static 'main/css/hotbar.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/button.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/input.css' %}">
{% endblock %}

{% block body %}
    <header>
        {% include 'main/hotbar1.html' %}
        {% include 'main/hotbar2.html' %}
    </header>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
    <footer>

    </footer>
{% endblock %}