<div class="hotbar hotbar_2">
    <nav class="hotbar__content">
        
        {% include 'buttons/button1.html' with is_url=True href="home" type="button_logo" text="REPARTS.MD" %}

        {% include 'buttons/button1.html' with is_url=False href="#" type="button_2" text="button" %}
        {% include 'buttons/button1.html' with is_url=False href="#" type="button_2" text="button" %}
        {% include 'buttons/button1.html' with is_url=False href="#" type="button_2" text="button" %}
        {% include 'buttons/button1.html' with is_url=False href="#" type="button_2" text="button" %}
        {% include 'buttons/button1.html' with is_url=False href="#" type="button_2" text="button" %}
        {% include 'buttons/button1.html' with is_url=False href="#" type="button_2" text="button" %}
        {% include 'buttons/button1.html' with is_url=False href="#" type="button_2" text="button" %}
        {% include 'buttons/button1.html' with is_url=False href="#" type="button_2" text="button" %}

        {% include 'inputs/input1.html' with type="input_1" name="input-text" placeholder="Input text" %}

        {% include 'buttons/button1.html' with is_url=False href="#" type="button_4" text="button" %}
        
    </nav>
    <div class="hotbar_2__line"></div>
</div>