* {
    transition: all 0.4s ease-in-out;
    box-sizing: border-box;
}


.hotbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
}

.hotbar__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    border-bottom: 1px solid black;
}
.hotbar__content .row {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hotbar_1 {
    background-color: #E3E1C8;
}
.hotbar_1 * {
    font-size: 17px;
    font-weight: 600;
}

.hotbar_2 {
    background-color: #191C2D;
    height: 60px;
    padding-bottom: 2px;
}
.hotbar_2 .hotbar__content {
    padding: 0 300px;
}
.hotbar_2__line {
    width: 100%;
    height: 2px;
    background-color: #9b5a62;
}

.hotbar_3 {
    background-color: #435664;
    height: 50px;
}

/* Extra small devices (phones, 600px and down) *
@media only screen and (max-width: 599px) {
    /* Стили для телефонов *
    
}*/

/* Small devices (portrait tablets and large phones, 600px to 767px) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* Стили для планшетов в портретном режиме и больших телефонов */

}

/* Medium devices (landscape tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Стили для планшетов в ландшафтном режиме */
    
}

/* Large devices (laptops/desktops, 992px to 1199px) */
@media only screen and (min-width: 992px)/* and (max-width: 1199px)*/ {  
    /* Стили для ноутбуков/десктопов */
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) *
@media only screen and (min-width: 1200px) {
    /* Стили для больших устройств *
    
}*/