* {
    transition: all 0.4s ease-in-out;
    box-sizing: border-box;
}

.input {
    height: 28px;
    border-radius: 10px;
    padding: 0 10px;
}

.input_1 {
    background-color: #E3E1C8;
    color: #191C2D;
}


.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 15px;
    max-height: 50px;
}

.search_1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
}
.search_1:focus-within {
    border: 1px solid #F3B2A3;
}
.search__input_1 {
    flex: 1;
    margin-right: 15px;
    padding: 0;
}
.search__input_1::placeholder {
    color: black;
    font-weight: 700;
}

/* Extra small devices (phones, 600px and down) *
@media only screen and (max-width: 599px) {
    /* Стили для телефонов *
    
}*/

/* Small devices (portrait tablets and large phones, 600px to 767px) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* Стили для планшетов в портретном режиме и больших телефонов */

}

/* Medium devices (landscape tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Стили для планшетов в ландшафтном режиме */
    
}

/* Large devices (laptops/desktops, 992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {  
    /* Стили для ноутбуков/десктопов */
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Стили для больших устройств */
    
}