* {
    transition: all 0.2s ease-in-out;
}

body {
    height: 100%;
}

h1 {
    font-size: 20px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
a {
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.column {
    display: block;
}
.row {
    display: inline-block;
}
.logo {
    width: 30px;
}

.second-hotbar {
    transition: transform 0.4s ease-in-out;
    width: 100%;
    position: fixed;
    bottom: 10px;
}
.second-hotbar-hidden {
    transform: translateY(120%);
}
.second-hotbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
}
.second-hotbar__nav-button {
    display: inline;
    background-color: rgb(59, 59, 59);
    padding: 10px;
    border-radius: 50px;
}
.nav-button_focus {
    background-color: #d9d9d9;
}
.second-hotbar__nav-button:hover {
    background-color: rgb(134, 134, 134);
}
.second-hotbar__nav-button:active {
    background-color: rgb(62, 62, 62);
}
.button-image {
    width: 25px;
}

.header {
    background-color: black;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.header__container {
    padding: 20px 15px;
}
.header__column_hotbar {
    display: grid;
    grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [end];
    grid-template-rows: [start] 1fr [end];
    align-items: center;
    margin-bottom: 15px;
}
.header__row_logo {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    justify-self: left;
}
.header__row_logo img {
    width: 100%;
    height: 100%;
}
.header__row_title {
    justify-self: center;
}
.header__row_menu-button {
    justify-self: right;
    width: 40px;
    height: 40px;
}
.header__row_menu-button img {
    width: 100%;
    height: 100%;
}

.header__column_search-bar {
    display: inline-flex;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 15px;
    white-space: nowrap;
    overflow: hidden;
    background-color: white;
    border-radius: 50px;
    align-items: center;
}
.header__row_search-input, .header__row_search-input input {
    flex-grow: 1;
    width: 100%;
}
.header__row_button-submit-search {
    height: 100%;
    padding: 0px 10px;
    border: 1px solid #afafaf;
}
.header__row_button-submit-search:hover {
    background-color: #d9d9d9;
}
.header__row_button-submit-search:active, .header__row_button-submit-search:blank {
    background-color: rgb(75, 75, 75);
}
.header__row_button-submit-search img {
    width: 25px;
}

.header__column_banner {
    background-color: white;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.header__row_banner, .header__row_banner img {
    width: 100%;
    height: 100%;
}

.header__column_categories {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    position: relative;
}
.header__column_categories a {
    color: black;
}
.header__row_category-title {
    margin-bottom: 10px;
}
.header__row_category-title h2 {
    font-size: 20px;
}
.header__list_category {
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
    column-gap: 15px;
}
.header__list_category::-webkit-scrollbar {
    display: none;
}
.header__row_category {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    min-width: 120px;
    height: 140px;
    background-color: white;
    border-radius: 10px;
}
.header__row_category img {
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
}
.header__row_category h3 {
    text-align: center;
}

.header__categories-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    margin-top: 20px;
    z-index: 4;
}
.categories-buttons img {
    width: 35px;
    opacity: 0.5;
    pointer-events: auto;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(100%);
}
.categories-buttons img:hover {
    filter: invert(27%) sepia(8%) saturate(0%) hue-rotate(200deg) brightness(85%) contrast(90%);
}
.categories-buttons img:active {
    filter: invert(27%) sepia(8%) saturate(0%) hue-rotate(200deg) brightness(110%) contrast(100%);
}


.content {
    display: flex;
    padding: 0px 15px;
    flex-grow: 1;
    flex: 1;
    height: 100%;
}
.list-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 10px;
    height: 250px;
    padding: 20px 15px 15px 15px;
    background-color: black;
    border-radius: 8px;
    color: black;
    position: relative;
    margin-bottom: 20px;
}
.list-categories a {
    color: black;
}
.category-title {
    margin-bottom: 15px;
    color: white;
}
.category-title h2 {
    font-size: 20px;
}
.category-products {
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
    column-gap: 15px;
    width: 100%;
    height: 100%;
}
.category-products::-webkit-scrollbar {
    display: none;
}
.product {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
    min-width: 160px;
    flex-grow: 1;
    background-color: white;
    border-radius: 10px;
}
.product__information {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.product img {
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 5px;
}
.product h3 {
    text-align: left;
}
.product p {
    font-size: 14px;
    font-weight: bold;
}
.list-categories img {
    opacity: 1;
}

.content__categories-buttons {
    display: flex;
    top: 5px;
    left: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    padding: 0 15px;
    margin-top: 20px;
    z-index: 4;
}
.categories-buttons img {
    width: 35px;
    opacity: 0.5;
    pointer-events: auto;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(100%);
}
.dcategories-buttons img:hover {
    filter: invert(27%) sepia(8%) saturate(0%) hue-rotate(200deg) brightness(85%) contrast(90%);
}
.dcategories-buttons img:active {
    filter: invert(27%) sepia(8%) saturate(0%) hue-rotate(200deg) brightness(80%) contrast(100%);
}

.footer {
    padding: 30px 15px 60px 15px;
    background-color: black;
    width: 100%;
    min-height: 250px;
    font-size: 14px;
}
.footer h2 {
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.footer__container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
}
.footer__column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.footer__row {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    border-bottom: 1px solid rgb(85, 85, 85);
    padding-bottom: 15px;
}
.footer__button {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}
.footer__row_company-networks {
    font-size: 18px;
}
.footer__row_company-networks a {
    color: rgb(67, 67, 215);
}
.footer__column_information {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
    font-size: 15px;
    color: #646464;
    font-weight: normal;
}
.footer__column_information .row {
    border: none;
    padding-bottom: 0;
}
.footer__column_information h2 {
    font-size: 18px;
    color: #646464;
    font-weight: normal;
}